@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Cinzel:wght@500&family=Dosis:wght@300&family=Gloria+Hallelujah&family=Inter:wght@300;400;500&family=Kanit:wght@300&family=Quicksand:wght@500&family=Roboto+Slab&display=swap");
body {
  height: 100vh;
  overflow-x: hidden;
}

#login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login #containerLogin {
  padding: 40px;
  font-family: "Kanit", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: black;
  font-size: 4em;
}
#login #containerLogin img {
  width: 80%;
}
#login #containerLogin div:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: end;
}
#login #loginCreds {
  height: 100vh;
  background-color: #2daaff;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: start;
  padding: 100px;
  padding-left: 10px;
}
#login #loginCreds span {
  font-family: "Quicksand", sans-serif;
  font-size: 4em;
  color: whitesmoke;
}
#login #loginCreds form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
#login #loginCreds form input, #login #loginCreds form button {
  height: 40px;
  width: 270px;
  font-family: "Roboto Slab", serif;
}
#login #loginCreds form input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
}
#login #loginCreds form input::-moz-placeholder {
  color: whitesmoke;
}
#login #loginCreds form input::placeholder {
  color: whitesmoke;
}
#login #loginCreds form button {
  background-color: #5ec5ff;
  border: 0px;
  color: whitesmoke;
}
#login .card {
  padding-left: 50px;
  background-color: transparent;
  border: none;
}

#dashboard {
  height: 100vh;
}
#dashboard .card-body {
  max-height: 400px;
  overflow-y: auto;
}
#dashboard .col .row:first-child ul {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
}
#dashboard .col .row:first-child ul li {
  font-family: "Kanit", sans-serif;
  list-style: none;
}
#dashboard .col .row:nth-child(2) {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
}
#dashboard form .id {
  display: flex;
  flex-direction: row;
  height: 35px;
  gap: 15px;
}

#subjects #deleteModal .modal-content {
  width: -moz-fit-content;
  width: fit-content;
}
#subjects .card {
  resize: both;
  width: -moz-fit-content;
  width: fit-content;
}
#subjects .card .card-header,
#subjects .card .card-footer {
  position: static;
  z-index: 1;
  top: 0;
}
#subjects .card .card-footer {
  bottom: 0;
}
#subjects .card .card-body {
  max-height: 400px;
  overflow: auto;
}
#subjects .card .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #dashboard #row {
    max-height: 500px;
    overflow: auto;
  }
}
@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  #row {
    max-height: 700px;
    overflow: auto;
  }
}
@media only screen and (max-width: 960px) {
  #subjects #title {
    position: sticky;
    z-index: 7;
    top: 0;
  }
  #subjects .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #subjects .row td:last-child {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  #subjects .row .card {
    width: -moz-fit-content;
    width: fit-content;
  }
  #subjects .row .card .card-header,
  #subjects .row .card .card-footer {
    position: sticky;
    z-index: 1;
    top: 0;
  }
  #subjects .row .card .card-footer {
    bottom: 0;
  }
  #subjects .row .card .card-body {
    max-height: 500px;
    overflow: auto;
  }
  #subjects .row .card .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #subjects .row .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #subjects .row .col-6 .card {
    max-height: 500px;
    overflow: auto;
  }
  #deleteModal .modal-content {
    width: -moz-fit-content;
    width: fit-content;
  }
}
#allSubjects .card-body {
  max-height: 350px;
  overflow: auto;
}

#error {
  height: 100vh;
}
#error .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#error img {
  width: 50%;
  position: relative;
  left: 260px;
}/*# sourceMappingURL=style.css.map */